Repository NybergViktor/Celemo_FrontEnd, pull requests merged in 2024-05, with the labels that each got.

#38 9 create auction page
  package-lock.json
  package.json
  src/App.jsx
  src/components/auctionCreationContainer/AuctionSelectionDropdowns.css
  src/components/auctionCreationContainer/AuctionSelectionDropdowns.jsx
  src/components/auctionCreationContainer/FrameBottom.css
  src/components/auctionCreationContainer/FrameBottom.jsx
  src/components/auctionCreationContainer/PublishButton.css
  src/components/auctionCreationContainer/PublishButton.jsx
  src/components/auctionCreationContainer/checkboxRandomPicture/RandomPic.css
  src/components/auctionCreationContainer/checkboxRandomPicture/RandomPic.jsx
  src/components/auctionCreationContainer/infoFields/InfoFieldsCreateAuction.css
  src/components/auctionCreationContainer/infoFields/InfoFieldsCreateAuction.jsx
  src/components/auctionCreationContainer/infoFields/InputFields.css
  src/components/auctionCreationContainer/infoFields/InputFields.jsx
  src/components/auctionCreationContainer/infoFields/UploadIcon.css
  src/components/auctionCreationContainer/infoFields/UploadIcon.jsx
  src/components/header/Header.css
  src/components/header/Header.jsx
  src/pages/create-auction-page/CreateAuctionPage.css
  src/pages/create-auction-page/CreateAuctionPage.jsx
  src/pages/profilePage/ProfilePage.jsx
Labels: Auction, Discussion

#92 moved out context and useeffect from child to parent
  src/components/Auction/Auction.jsx
  src/pages/auction-page/AuctionPage.jsx
Labels: Auction

#101 100 report user
  src/App.jsx
  src/components/context/ReportUserContext.jsx
  src/components/pubprofilecomp/PubProfileComp.css
  src/components/pubprofilecomp/PubProfileComp.jsx
  src/pages/reportUserPage/RUser.css
  src/pages/reportUserPage/ReportUser.jsx
Labels: User, Reports

#99 60 functionality 2 create auction page
  package-lock.json
  package.json
  src/App.jsx
  src/components/auctionCreationContainer/AuctionSelectionDropdowns.css
  src/components/auctionCreationContainer/AuctionSelectionDropdowns.jsx
  src/components/auctionCreationContainer/FrameBottom.css
  src/components/auctionCreationContainer/FrameBottom.jsx
  src/components/auctionCreationContainer/PublishButton.css
  src/components/auctionCreationContainer/PublishButton.jsx
  src/components/auctionCreationContainer/infoFields/InfoFieldsCreateAuction.css
  src/components/auctionCreationContainer/infoFields/InfoFieldsCreateAuction.jsx
  src/components/auctionCreationContainer/infoFields/InputFields.css
  src/components/auctionCreationContainer/infoFields/InputFields.jsx
  src/components/auctionCreationContainer/infoFields/UploadIcon.css
  src/components/auctionCreationContainer/infoFields/UploadIcon.jsx
  src/components/context/CreateAuctionContext.jsx
  src/components/context/EnumContext.jsx
  src/components/startpageMainContainer/StartpageMainContainer.jsx
  src/components/sub-header/SubHeader.jsx
  src/pages/profilePage/EditProfile.jsx
Labels: Prio High, Auction, READ DESCRIPTION, Functionality
